.cover__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 740px;
  z-index: 2;
}

@media screen and (max-width: 1040px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 800px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 700px) {
  .cover__link {
    min-height: calc(700px*0.625);
  }
}

@media screen and (max-width: 600px) {
  .cover__link {
    min-height: calc(600px*0.625);
  }
}

@media screen and (max-width: 500px) {
  .cover__link {
    min-height: calc(500px*0.625);
  }
}

@media screen and (max-width: 400px) {
  .cover__link {
    min-height: calc(400px*0.625);
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }  
}