.photo-grid {
  display: grid;
  max-width: 92.5%;
  grid-template-columns: 1fr 1fr 1fr minmax(min-content, max-content);
  grid-template-rows: 1fr 1fr minmax(min-content, max-content);
  gap: 16px;
  margin-top: 92px;
}