.header__link {
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.5;
}

.header__link_lang_ru {
  text-decoration: underline;
  margin-right: 18px;
}

.header__link_lang_ru:hover {
  opacity: 0.5;
}