.column__tittle {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #FFFFFF;
  margin-top: 92px;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .column__tittle {
    margin-top: 88px;
  }
}

@media screen and (max-width: 720px) {
  .column__tittle {
    font-size: 46px;
  }
}

@media screen and (max-width: 620px) {
  .column__tittle {
    font-size: 38px;
  }
}

@media screen and (max-width: 520px) {
  .column__tittle {
    font-size: 32px;
    line-height: 1.09;
    margin-top: 64px;
  }
}